PROXY_HOST=127.0.0.1
PROXY_PORT=7002
PROXY_ADMIN_HOST=127.0.0.1
PROXY_ADMIN_PORT=7101
LOG_LEVEL=info
LOG_ENABLE_CONSOLE=true
LOG_ENABLE_FILE=true
LOG_DIR=logs/game-proxy
PROXY_LOCAL_SOCKET_NAME=myserver-game-proxy.sock
UPSTREAM_SERVER_ID=game-server-1
UPSTREAM_LOCAL_SOCKET_NAME=myserver-game-server.sock
